*{margin: 0;padding: 0;}
.root{
	width: 100%;
}
.root .header{
	background: url('../images/header.png') no-repeat;
	background-size: 100% 100%;
	width: 100%;
	/*height: 259px;*/
	margin-bottom: 60px;

}
.contBgrund{
	width: 100%;
	background: rgba(255, 255, 255, 0.1);
}
.contW1200{
	width: 1200px;
}
.header .contW1200{
	margin: 0 auto;
	text-align: left;
}
.header .headerWrap{
	width: 100%;
	margin: auto;
}
.header .headerWrap{
	height: 60px;
	border-bottom: solid 1px #356fa2;
	line-height: 0px;
	text-align: center;
	vertical-align: middle;
}
.header .headerWrap .contW1200{
	line-height: 55px;
}
.header .logo{
	display: inline-block;
	
}
.header .logo img{
	vertical-align: middle;
}
.header .logo .ui{
	color: #fff;
	font-size: 26px;
	vertical-align: middle;
	display: inline-block;
	margin-left: 20px;
}
.header .nav{
	float: right;
}
.header .nav li{
	float: left;
	color: #fff;
}
.header .nav .on{
	background: #4a89b4;
}
.header .nav a{
	color: #fff;
	display: block;
	height: 60px;
	line-height: 60px;
	padding-left: 25px;
	padding-right: 25px;
}

.header .nav a:hover{
	text-decoration: none;
}
.header p{
	font-size: 40px;
	color: #fff;
	padding-top: 55px;
}
.header h1{
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	padding-top: 24px;
}

.content{
	width: 1200px;
	margin:0 auto;
}
.content_left{
/*	width: 970px;
	float: left;*/
}

.content_left .title h1{
	font-size: 32px;
	color: #333333;
	font-weight: normal;
	height: 50px;
	font-style: italic;

}
.content_left .title p{
	height: 48px;
	font-weight: normal;
}
.content_left .box{
	border: solid 1px #eeeeee;
	border-radius: 5px;
	margin-bottom: 30px;
}
.example{
	padding: 0px 15px 15px 15px;
}

.example h2{
	font-weight: normal;
	font-size: 20px;
	line-height: 50px;
}
.example h3{
	font-weight: bold;
	font-size: 16px;
	line-height: 50px;
	color: #999;
}
.example button{
	float: left;
	margin: 0px 10px 10px 20px ;
}
.describe{
	padding: 10px;
	color: #aaa;
	line-height: 20px;
	margin: 10px 0;
	border:1px dashed #999;
}
.support{
	font-style: italic;
}

.content_right{
	width: 230px;
	float: right;
	display: none;
}
.content_right div{
	border-bottom: solid 1px #ccc;
	padding-left: 20px;
}
.content_right div h1{
	line-height: 40px;
	color: #aaaaaa;
}
.content_right div ul li{
	line-height: 24px;
}
.content_right .goTop{
	line-height: 40px;
}

.foot{
	height: 100px;
	line-height: 100px;
	border-top: solid 1px #ccc;
	margin-top: 40px;
}
.foot p{
	text-align: center;
}

.btnDemo{
	margin-top: 30px;
}