.zcBtn{
	height: 30px;
	line-height: 30px;
	display: inline-block;
	border: solid 1px #ccc;
	text-align: center;
	vertical-align: middle;
}
.zcBtn .text{
	display: inline-block;
	vertical-align: middle;
}
.zcBtn .ing{
	display: none;
}