.zcPopMain{position: relative; border:0px solid #d5d5d5;background-color: #ffffff;overflow: hidden;width: 400px;
-webkit-box-shadow: 0 0 8px #b6b6b6; -moz-box-shadow: 0 0 8px #b6b6b6; box-shadow: 0 0 8px #b6b6b6;
border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; -o-border-radius:3px;
-webkit-animation: bounceIn 0.25s ease-in-out;
-moz-animation: bounceIn 0.25s ease-in-out;
-ms-animation: bounceIn 0.25s ease-in-out;
-o-animation: bounceIn 0.25s ease-in-out;
}
.zcPopMain .popCentent{position: relative; width: 100%; height: 100%; padding: 30px 0 60px 0;}
.zcPopMain .popT{font-size: 22px;text-align: center;font-weight: normal;margin-bottom: 30px;line-height: 100%;}
.zcPopMain .popClose{position: absolute; z-index: 999; top: 0; right: 0; width: 36px; height: 36px; font-family: "宋体"; font-size: 23px; font-weight: bold; color: #aaaaaa;
cursor: pointer;text-align: center; line-height: 36px;text-decoration: none;}

.zcPopMain .popClose:hover{background-color: #e33b48; color: #ffffff;}
.zcPopMain .popBottom{position: absolute;bottom:0px;left:0px;height: 60px;line-height: 60px;width: 100%; background-color: #eee; text-align: center;vertical-align: middle;}
.zcPopMain .popBottom .contB{line-height: 60px;padding: 0 50px;}
.zcPopMain .popBtn{display: inline-block;height: 32px;line-height: 32px;text-decoration: none;margin-left: 5px;font-size: 12px;padding: 0 36px;    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:3px;border-width:1px ;border-style: solid;}


.confirmPop {min-height: 190px;}
.confirmPop .popCentent {padding: 30px 0;height: auto;}
.confirmPop .popT{margin-bottom: 24px;}
.confirmPop .cont{padding: 0 48px;}
.confirmPop .info{line-height: 26px;vertical-align: middle;margin: 0 0 20px 0;text-align: center;}
.confirmPop .info .text{vertical-align: middle;display: inline-block;margin-left: 10px;}
.confirmPop .btn{text-align: center;position: relative;}
.confirmPop1 .btnClose{position: absolute;left: 50%;top: 0px;margin-left: 77px;padding: 0px;border: none;background: none;color: #999;}




.zcAlert{text-align: center;p/* osition: fixed;top:40%;left:0px; */width: 100%;/* z-index: 9999;display: none; */}
.zcAlert .alertCont{/*z-index: 999; width: 1000px; top: 50%; left: 50%; margin-top: -297px; margin-left: -500px;*/ display:inline-block;padding:15px;background-color: #fff;
-webkit-box-shadow: 0 0 8px #b6b6b6; -moz-box-shadow: 0 0 8px #b6b6b6; box-shadow: 0 0 8px #b6b6b6;
border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; -o-border-radius:3px;vertical-align: middle;border: 1px solid #d5d5d5;}
.zcAlert .alertCont .text{display:inline-block;font-size: 16px;vertical-align: middle;}