/* zcBubbleTip : 冒泡提示 */
.zcBubbleTip{
    display:none;
    padding:15px 18px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 8px #b6b6b6;
    -moz-box-shadow: 0 0 8px #b6b6b6;
    box-shadow: 0 0 8px #b6b6b6;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    vertical-align: middle;
    border: 1px solid #d5d5d5;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 99999;
    white-space: nowrap;
}
.zcBubbleTip .text{
    display:inline-block;
    font-size: 16px;
    vertical-align: middle;
}
.zcBubbleTip .icon{
    margin-right: 12px;
    position: relative;
    top: 1px;
}