/* icon-bank */
.icon-bank{
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  background: url('../../images/logo_bank.png') no-repeat;
}
.icon-abc { background-position: -0px -0px; width: 116px; height: 24px; }
.icon-bcm { background-position: -116px -0px; width: 116px; height: 24px; }
.icon-boc { background-position: -232px -0px; width: 116px; height: 24px; }
.icon-ccb { background-position: -0px -24px; width: 116px; height: 24px; }
.icon-cib { background-position: -116px -24px; width: 116px; height: 24px; }
.icon-citic { background-position: -232px -24px; width: 116px; height: 24px; }
.icon-cmb { background-position: -0px -48px; width: 116px; height: 24px; }
.icon-cmbc { background-position: -116px -48px; width: 116px; height: 24px; }
.icon-icbc { background-position: -232px -48px; width: 116px; height: 24px; }
.icon-spdb { background-position: -0px -72px; width: 116px; height: 24px; }
/* browser */
.browser{
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  background: url('../../images/browser.png') no-repeat; 
}
.chrome { background-position: 0px 0px; width: 75px; height: 75px; }
.ie { background-position: 0px -75px; width: 75px; height: 75px; }
.firefox { background-position: 0px -150px; width: 75px; height: 75px; }
.safari { background-position: 0px -225px; width: 75px; height: 75px; }

/* iconfont */
@font-face {font-family: 'iconfont';
    src: url('../../fonts/iconfont.eot'); /* IE9*/
    src: url('../../fonts/iconfont.eot?#iefix') format('embedded-opentype'), 
    url('../../fonts/iconfont.woff') format('woff'), 
    url('../../fonts/iconfont.ttf') format('truetype'), 
    url('../../fonts/iconfont.svg#iconfont') format('svg'); 
}
.icon {
  display: inline-block;
  vertical-align: middle;
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tick{
  color: #77ba36;
  font-size: 18px;
}
.icon-cross{
  color: #e60011;
  font-size: 16px;
  line-height: 16px;
}
.icon-calendar2 {
  color: #e0e0e0;
  font-size: 16px;
  font-weight:normal;
}
.icon-warnning {
  font-size: 18px;
}
.icon-logo-sitegraph{
  color: #00a1f1;
}
.icon-logo-sitetext{
  color: #333;
}