.zcTips{
    width: 72px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #ccc;
    background: #f9f9f9;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 100%;
    margin:-18px 0 0 12px;
    font-size: 12px;
    color: #666;
}
.zcTips .cont{
    background: #fff;
}
.zcTips .arrow{
    display: block;
    width: 6px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: -6px;
    margin: -6px 0 0 0;
    overflow: hidden;
}
.zcTips .arrow b,
.zcTips .arrow i{
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    font-family: serif;
    line-height: 14px;
}

.zcTips .arrow b{
    color: #ccc;
}
.zcTips .arrow i{
    color: #fff;
    left: 2px;
}
.zcTips.topArrow .arrow{
    display: block;
    width: 12px;
    height: 8px;
    position: absolute;
    left: 50%;
    top: -8px;
    margin: 0 0 0 -6px;
    overflow: hidden;
}
.zcTips.topArrow .arrow i{
    left: 0;
    top:2px;
}
